* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  background: yellow;
  height: 640px;
  width: 640px;
}

.flex-item {
  width: 100%;
  background: red;
  color: white;
}