* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.grid {
  padding: 15px;
  margin: 0 auto;
  padding-top: 73px;
}

.grid .col {
  width: 33%;
  height: 300px;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}

.grid .col-content {
  width: 100%;
  height: 100%;
  background: red;
  box-shadow: 5px 5px 5px blue;
}

.grid::after {
  content: '';
  display: block;
  clear: both;
}

.menu {
  width: 100%;
  position: fixed;
  background: black;
}

.menu ul {
  list-style: none;
  display: block;
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: block;
  color: #fff;
  padding: 20px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover {
  background: #333;
}

body {
  font-family: sans-serif;
}

.full-page {
  max-width: 100%;
  padding: 0 30px;
  padding-top: 73px;
  height: 100vh;
  background: darkkhaki;
}

.full-page-content {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}


@media (max-width: 568) {
  .grid .col {
    width: 100%;

  }
}

@media all and (min-width: 569) and (max-width: 768px) {
  .grid .col {
    width: 50%;
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .grid .col {
    width: 33.33%;
  }
}

@media all and (min-width: 1201px) {
  .grid .col {
    width: 25%;
  }
}