* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 40px;
}

.grid {
  max-width: 1200px;  
  margin: 0 auto;
  display: grid;
  grid-template-columns: [um] 1fr 
  [dois] 1fr 
  [tres] 1fr 
  [quatro];
  grid-template-rows: [um] 1fr 
  [dois] 1fr 
  [tres] 1fr
  [quatro];
  gap: 30px;
}

.grid div {
  background: tomato;
  min-height: 100px;
}

.grid div:nth-child(5) {
  background: darkred;
  grid-column-start: um;
  grid-column-end: tres;
  grid-row-start: um;
  grid-row-end: quatro;
  /*grid-area: row um / um / column quatro / quatro*/
}

