* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
}

p {
  margin: 0 0 24px;
}

.two-columns {
  display: flex;
}

.col {
  display: flex;
  background: lawngreen;
  margin: 15px;
  padding: 30px;
  flex-direction: column;
}

.gallery{
  display: flex;
  flex-flow: row wrap;
}

.gallery .img {
  flex: 1 0 20%;
  height: 50px;
  background: blue;
  margin: 10px;
}

