p {
  color: red;
  background-color: yellow;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  direction: ltr;
  letter-spacing: 1px;
  word-spacing: 5px;
  line-height: 25px;
  text-align: left;
  text-decoration: line-through;
  text-indent: 50px;
  text-shadow: 1px 0 0 black;
  text-transform: capitalize;
}